# Arquivos gerados durante a execução
arquivos_gerados/

# Chaves e certificados eventuais criados em outros diretórios
*.pem
*.cer
*.crt
*.key

# Diretórios de IDE
.idea/

# Binários do Go
/cripto
*.exe
*.out
